{
    ${CADDY_ADMIN_LINE}
    auto_https off
    persist_config off

    log {
        level WARN
        exclude http.handlers.reverse_proxy caddy.listeners.layer4 admin
    }
    log reverse-proxy {
        level ERROR
        include http.handlers.reverse_proxy
    }

    servers :${HTTP_FRONT_PORT} {
        protocols h1
        timeouts {
            idle 30s
        }
        max_header_size 32KB
        listener_wrappers {
            layer4 {
${L4_ROUTE_BLOCK}
                @tls tls
                route @tls {
                    proxy 127.0.0.1:${NODE_PORT}
                }
            }
        }
    }
}

http://:${HTTP_FRONT_PORT} {
    handle /health {
        respond "ok" 200
    }

${HTTP_ROUTE_BLOCK}

    @node_api path /node/* /vision/*
    handle @node_api {
        reverse_proxy https://127.0.0.1:${NODE_PORT} {
            transport http {
                tls_insecure_skip_verify
${NODE_TLS_SERVER_NAME}
            }
        }
    }

    handle {
        root * "${CADDY_SITE_DIR}"
        try_files {path} {path}/ /index.html
        encode gzip
        file_server
    }
}
